
<dom-module id="group-items">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>

    <h1>[[title]]</h1>

    <slot name="description"></slot>

    <!-- Trying new <dom-repeat> -->
    <div class="group-wrapper">
      <ul>
        <dom-repeat items="[[items]]">
            <template>
              <li>[[item]]</li>
            </template>
        </dom-repeat>
      <ul>
    </div>

    <!-- New <dom-if> -->
    <dom-if if="[[actions]]">
      <template>
        <div class="actions">
          <button-clab on-btnclick="removeItems" type="warning" size="small" appearance="empty">Remove all items</button-clab>
        </div>
      </template>
    </dom-if>

  </template>

  <script src="script.es6.js"></script>

</dom-module>
