<link rel="import" href="../../assets/bower/polymer/polymer.html">

<!-- Units & Wrappers -->
<link rel="import" href="../group-items/view.html">
<link rel="import" href="../random-content/view.html">

<!-- Polymer Elements (2.0) -->
<!-- NOTE: why not working? -->
<!-- <link rel="import" href="../../assets/bower/paper-button/paper-button.html"> -->


<dom-module id="app-poly2">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>

    <main>
      <h1>[[head]]</h1>

      <div class="sample1">
        <group-items title="[[groupTitle]]" items="[[groupedItems]]" actions="[[groupActions]]">
          <div slot="description">
            Simple description using new "slot" custom elements
          </div>
        </group-items>
      </div>

      <div class="sample2">
        <random-content title="[[random.randomTitle]]" source-link="[[random.randomSource]]" on-random-content-ready="_onRandomContentReady">
        </random-content>
      </div>

      <div class="actions">
        <button on-click="removeElement">Detach element</button>
      </div>
    </main>
  </template>

  <script src="script.es6.js"></script>

</dom-module>
